altgraph==0.17.2
asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
Django==3.2.7
docopt==0.6.2
grpcio==1.37.1
grpcio-tools==1.37.1
idna==3.2
kafka-python==2.0.2
mmh3==3.0.0
numpy==1.21.2
pandas==1.2.4
pipreqs==0.4.10
protobuf==3.17.3
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pymilvus==2.0.0rc5
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
ujson==4.1.0
urllib3==1.26.6
yarg==0.1.9
